.homepage {
	// border: 1px solid;
	background: #E0E7FF;
  width: 100%;
}

.homepage-wrap {
	width: 100%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}